@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
main {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background: radial-gradient(
      circle at top left,
      transparent 9%,
      #001f33 10%,
      #001f33 15%,
      transparent 16%
    ),
    radial-gradient(
      circle at bottom left,
      transparent 9%,
      #001f33 10%,
      #001f33 15%,
      transparent 16%
    ),
    radial-gradient(
      circle at top right,
      transparent 9%,
      #001f33 10%,
      #001f33 15%,
      transparent 16%
    ),
    radial-gradient(
      circle at bottom right,
      transparent 9%,
      #001f33 10%,
      #001f33 15%,
      transparent 16%
    ),
    radial-gradient(circle, transparent 25%, #0a2647 26%),
    linear-gradient(
      45deg,
      transparent 46%,
      #001f33 47%,
      #001f33 52%,
      transparent 53%
    ),
    linear-gradient(
      135deg,
      transparent 46%,
      #001f33 47%,
      #001f33 52%,
      transparent 53%
    );
  background-size: 3em 3em;
  background-color: #0a2647;
  opacity: 1;
}
